.layout {
  background-color: white !important;
  height: 2rem;
  line-height: 2rem;
}

.header {
  width: 100%;
  z-index: 1;
  background-color: white !important;
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  height: inherit !important;
  line-height: inherit !important;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  border-bottom: 0px !important;
}

.socialIcons {
  align-self: center;
  padding: 0 5px;
}