.layout {
  background-color: white !important;
  height: 2rem !important;
  line-height: 2rem !important;
  padding: 0 !important;
  z-index: 1;
  position: absolute;
  width: 100%;
}

.headerContainer {
  display: flex !important;
  justify-content: space-between !important;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  border-bottom: 0px !important;
}

.socialIcons {
  align-self: center;
  padding: 0 5px;
  font-size: 1.3rem;
}
