.homeBackground {
  background-color: #005A8D;
  height: 100vh;
  padding: 0 1rem;
}

.homeTitle {
  font-size: 2rem;
  color: aliceblue;
  font-weight: 900;
  z-index: 1;
}

.homeSubtitle {
  font-size: 1rem;
  color: aliceblue;
  font-weight: 600;
  z-index: 1;
}

.socialIcons {
  margin: 20px;
  font-size: 1.8rem;
  color: #fff !important;
  z-index: 1 !important;
}

.waveEmoji {
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-name: wave;
  display: inline-block;
  transform-origin: 70% 70%;
  animation-fill-mode: forwards;
}
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}