.homeBackground {
  background-color: #005A8D;
}

.homeTitle {
  font-size: 2.8rem;
  color: aliceblue;
  font-weight: 900;
}

.homeSubtitle {
  font-size: 1.8rem;
  color: aliceblue;
  font-weight: 600;
}