.about {
  background-color: #1687A7;
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 1;
}

.aboutTitle {
  font-size: 4rem;
  color: aliceblue;
  font-weight: 900;
}

.aboutSubtitle {
  font-size: 3rem;
  color: aliceblue;
  font-weight: 600;
}
